venv
/.vscode
data/data.nc
.DS_Store
__pycache__/charts.cpython-38.pyc
__pycache__/data.cpython-38.pyc
__pycache__/extract_variables.cpython-38.pyc
__pycache__/get_data.cpython-38.pyc
__pycache__/indices.cpython-38.pyc
__pycache__/variables.cpython-38.pyc
img/.DS_Store
src/.DS_Store
src/__pycache__/charts.cpython-38.pyc
src/__pycache__/data.cpython-38.pyc
src/__pycache__/indices.cpython-38.pyc
src/__pycache__/variables.cpython-38.pyc
src/__pycache__/__init__.cpython-38.pyc
src/__init__.py
.ipynb_checkpoints/demo-checkpoint.ipynb
demo.ipynb
src/__pycache__/charts.cpython-36.pyc
src/__pycache__/data.cpython-36.pyc
src/__pycache__/indices.cpython-36.pyc
src/__pycache__/variables.cpython-36.pyc
