venv
/.vscode
data/01_raw/*.nc
.DS_Store
__pycache__
.ipynb_checkpoints/demo-checkpoint.ipynb
src/__pycache__
/bin
/.idea
images/charts/*.jpg
!images/charts/*_00.jpg

images/soundings/area_1/*
images/soundings/area_2/*
!images/soundings/area_1/SBBR/sounding_SBBR_00.jpg
!images/soundings/area_2/SBGR/sounding_SBBR_00.jpg

