venv
/.vscode
data/01_raw/*
.DS_Store
__pycache__
data/02_img_output/.DS_Store
data/02_img_output/*_01.jpg
data/02_img_output/*_02.jpg
data/02_img_output/*_03.jpg
data/02_img_output/*_04.jpg
data/02_img_output/*_05.jpg
data/02_img_output/*_06.jpg
data/02_img_output/*_07.jpg
data/02_img_output/*_08.jpg
data/02_img_output/*_09.jpg
data/02_img_output/*_10.jpg
src/.DS_Store
.ipynb_checkpoints/demo-checkpoint.ipynb
src/__pycache__